.Comp-product {
  background: #FFE8A1;
  width: 290px;
  height: 318px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-clr {
  /* background: #F2F4F8; */
}

.btn-view {
  background: white;
  border: 1px solid blue;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  transition: .5s;
  font-weight: bold;
  margin-top: 35px;
}

.btn-view:hover {
  background: blue;
  color: white;
}